{% extends 'liquid-theme/layout-admin.html.twig' %}

{% block title %}USERS LIST{% endblock %}

{% block mainContent %}
<section class="col -col-11" id="post-list">
    <div class="-text-center">
        <div class="h5 mt-10">ADMIN USERS LIST</div>
    </div>
    
    {% if users is defined and users is not empty %}
        {% include 'liquid-theme/components/layout/table/table.html.twig' with {
                'tableHeadItems' : [
                    {
                        'text': 'id',
                        'attr': 'id'
                    },
                    {
                        'text': 'email',
                        'attr': 'email'
                    },
                    {
                        'text': 'username',
                        'attr': 'username'
                    },
                    {
                        'text': 'verified',
                        'attr': 'isVerified'
                    },
                ],
                'tableItems': users,
                'actions' :  {
                    'show': {'path': 'admin_user_show', 'tooltip': 'show', 'icon': 'fa-regular fa-eye'},
                    'edit': {'path': 'admin_user_edit', 'tooltip': 'edit', 'icon': 'fa-regular fa-pen-to-square'},
                    'delete': {'path': 'admin_user_delete', 'token': 'delete-post', 'message': 'Are you sure you want to delete this User ?'}
                }
            }
        %}   
    {% else %}
        <div class="tile -tile-compact -w-f -shad-12">
            <div class="-tile-content">
                <div class="-tile-title -t-bld">
                    There is no user caralhoooo !!!
                </div>
                <div class="-tile-subtitle">
                    You can create a new user
                </div>
            </div>
            <div class="-tile-action">
                <button class="btn -tertiary btn-link btn-block -btn-lg tooltip tooltip-left" data-tooltip="Create User"> 
                    <a class="-tertiary" href="{{ path('admin_user_create') }}">
                        <i class="fa-solid fa-plus"></i> 
                    </a>
                </button>
            </div>
        </div>
    {% endif %}
</section>
{% endblock %}
