.card {
    display: flex;
    flex-direction: column;
    background: var(--card-bg-color);
    border:  var(--card-border);
    border-radius: var(--card-radius);
}
.card .\-card-header,
.card .\-card-body,
.card .\-card-footer {
    padding: var(--card-pad);
    padding-bottom: var(--card-pad-b);
}
.card .\-card-header:last-child,
.card .\-card-body:last-child,
.card .\-card-footer:last-child {
    padding-bottom: var(--card-pad);
}
.card .\-card-body {
    flex: 1 1 auto;
}
.card .\-card-image {
    padding-top: var(--card-pad-t);
}
.card .\-card-image:first-child {
    padding-top: 0;
}
.card .\-card-image:first-child img {
    border-top-left-radius: var(--card-image-left-radius);
    border-top-right-radius: var(--card-image-right-radius);
}
.card .\-card-image:last-child img {
    border-bottom-left-radius: var(--card-image-left-radius);
    border-bottom-right-radius: var(--card-image-right-radius);
}