<section id="menu-left-panel" class="-fixed -left -top-4rm swipe-menu sidebar sidebar-mini -bg-light -z2 -shad-12 -m0">
    <nav class="-w-f">
        <section class="slide-dropdown -open -transparent">
            <label for="side-menu-1">
                <span class="slide-dropdown--title -transparent -shad-12">
                    <span class="swipe-m-trigger -z5" data-panel="menu-left-panel"
                        data-open-panel="-open" data-close-panel="sidebar-mini">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </span>
                    <span class="-sidebar-mini-hidden">
                        dashboard
                    </span>
                </span>
            </label>
            <input class="slide-dropdown--touch" type="checkbox" id="side-menu-1">
            <ul class="slide-dropdown--slide">
                <li><a href="#">Home</a></li>
                <li><a href="#">Global Stat</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </section>
        <section class="slide-dropdown -w-f">
            <label for="side-menu-2">
                <span data-css-ico="+" class="slide-dropdown--title -shad-14">
                    <i class="icon icon-mail"></i>
                    <span class="-sidebar-mini-hidden">
                        messages
                    </span>
                </span>
            </label>
            <input class="slide-dropdown--touch" type="checkbox" id="side-menu-2">
            <ul class="slide-dropdown--slide">
                <li class="-shad-10-h"><a href="#">New Message</a></li>
                <li><a href="#">Messages</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Messages Settings</a></li>
            </ul>
        </section>
        <section class="slide-dropdown -w-f">
            <label for="side-menu-3">
                <span data-css-ico="+" class="slide-dropdown--title">
                    <i class="icon icon-people"></i>
                    <span class="-sidebar-mini-hidden">
                        users
                    </span>
                </span>
            </label>
            <input class="slide-dropdown--touch" type="checkbox" id="side-menu-3">
            <ul class="slide-dropdown--slide">
                <li><a href="#">Add User</a></li>
                <li><a href="#">User List</a></li>
            </ul>
        </section>
        <section class="slide-dropdown -w-f">
            <label for="side-menu-4">
                <span data-css-ico="+" class="slide-dropdown--title">
                    <i class="icon icon-bookmark"></i>
                    <span class="-sidebar-mini-hidden">
                        posts
                    </span>
                </span>
            </label>
            <input class="slide-dropdown--touch" type="checkbox" id="side-menu-4">
            <ul class="slide-dropdown--slide">
                <li><a href="#">Add Post</a></li>
                <li><a href="#">Posts List</a></li>
                <li><a href="#">Posts Statistics</a></li>
                <li><a href="#">Posts Settings</a></li>
            </ul>
        </section>
        <section class="slide-dropdown -w-f -mb10 -pb10">
            <label for="side-menu-5">
                <span data-css-ico="+" class="slide-dropdown--title">
                    <i class="icon icon-message"></i>
                    <span class="-sidebar-mini-hidden">
                        comments
                    </span>
                </span>
            </label>
            <input class="slide-dropdown--touch" type="checkbox" id="side-menu-5">
            <ul class="slide-dropdown--slide">
                <li><a href="#">Comments Moderation</a></li>
                <li><a href="#">Comments List</a></li>
                <li><a href="#">Comments Statistics</a></li>
                <li class="-mb10"><a href="#">Comments Settings</a></li>
            </ul>
        </section>
    </nav>
</section>
            