/*------COLOR------*/
.\-b-primary {
    border: var(--liquid-color-primary-shade) var(--border-primary-type) var(--border-primary-size);
}
.\-b-secondary {
    border: var(--liquid-color-secondary-shade) var(--border-secondary-type) var(--border-secondary-size);
}
.\-b-tertiary {
    border: var(--liquid-color-tertiary-shade) var(--border-tertiary-type) var(--border-tertiary-size);
}
.\-b-success {
    border: var(--liquid-color-success-shade) var(--border-success-type) var(--border-success-size);
}
.\-b-warning {
    border: var(--liquid-color-warning-shade) var(--border-warning-type) var(--border-warning-size);
}
.\-b-danger {
    border: var(--liquid-color-danger-shade) var(--border-danger-type) var(--border-danger-size);
}
.\-b-dark {
    border: var(--liquid-color-dark-shade) var(--border-dark-type) var(--border-dark-size);
}
.\-b-light {
    border: var(--liquid-color-light-shade) var(--border-light-type) var(--border-light-size);
}
/*------TYPE------*/
.\-b-dotted {border-style: dotted;}
.\-b-dashed {border-style: dashed;}
.\-b-solid {border-style: solid;}
.\-b-double {border-style: double;}
.\-b-groove {border-style: groove;}
.\-b-ridge {border-style: ridge;}
.\-b-inset {border-style: inset;}
.\-b-outset {border-style: outset;}
.\-b-none {border-style: none;}
.\-b-hidden {border-style: hidden;}
.\-b-mix {border-style: dotted dashed solid double;}
/*------SIZE------*/
.\-b-size-1 {border-width: 1px;}
.\-b-size-2 {border-width: 2px;}
.\-b-size-3 {border-width: 3px;}
.\-b-size-4 {border-width: 4px;}
.\-b-size-5 {border-width: 5px;}
.\-b-size-6 {border-width: 6px;}
.\-b-size-7 {border-width: 7px;}
.\-b-size-8 {border-width: 9px;}
.\-b-size-9 {border-width: 9px;}
.\-b-size-10 {border-width: 10px;}
.\-b-size-1rem {border-width: 1rem;}
.\-b-size-2rem {border-width: 2rem;}
.\-b-size-3rem {border-width: 3rem;}
.\-b-size-4rem {border-width: 4rem;}
.\-b-size-5rem {border-width: 5rem;}
/*------ROUNDED------*/
.\-b-rounded-0   {border-radius: 0;}
.\-b-rounded-sm  {border-radius: .5rem;}
.\-b-rounded     {border-radius: 1rem;}
.\-b-rounded-md  {border-radius: 2rem;}
.\-b-rounded-lg  {border-radius: 3.5rem;}
.\-b-rounded-xl  {border-radius: 5rem;}
.\-b-rounded-100 {border-radius: 100%;}

/*------HOVER-COLOR------*/
.\-b-primary-hover:hover {
    border: var(--liquid-color-primary) var(--border-primary-type) var(--border-primary-size-hover);
}
.\-b-secondary-hover:hover {
    border: var(--liquid-color-secondary) var(--border-secondary-type) var(--border-secondary-size-hover);
}
.\-b-primary-hover:hover {
    border: var(--liquid-color-tertiary) var(--border-tertiary-type) var(--border-tertiary-size-hover);
}
.\-b-success-hover:hover {
    border: var(--liquid-color-success) var(--border-success-type) var(--border-success-size-hover);
}
.\-b-warning-hover:hover {
    border: var(--liquid-color-warning) var(--border-warning-type) var(--border-warning-size-hover);
}
.\-b-danger-hover:hover {
    border: var(--liquid-color-danger) var(--border-danger-type) var(--border-danger-size-hover);
}
.\-b-dark-hover:hover {
    border: var(--liquid-color-dark) var(--border-dark-type) var(--border-dark-size-hover);
}
.\-b-light-hover:hover {
    border: var(--liquid-color-light) var(--border-light-type) var(--border-light-size-hover);
}
/*------TYPE-HOVER------*/
.\-b-dotted-hover:hover {border-style: dotted;}
.\-b-dashed-hover:hover {border-style: dashed;}
.\-b-solid-hover:hover {border-style: solid;}
.\-b-double-hover:hover {border-style: double;}
.\-b-groove-hover:hover {border-style: groove;}
.\-b-ridge-hover:hover {border-style: ridge;}
.\-b-inset-hover:hover {border-style: inset;}
.\-b-outset-hover:hover {border-style: outset;}
.\-b-none-hover:hover {border-style: none;}
.\-b-hidden-hover:hover {border-style: hidden;}
.\-b-mix-hover:hover {border-style: dotted dashed solid double;}
/*------SIZE-HOVER------*/
.\-b-size-1-hover:hover {border-width: 1px;}
.\-b-size-2-hover:hover {border-width: 2px;}
.\-b-size-3-hover:hover {border-width: 3px;}
.\-b-size-4-hover:hover {border-width: 4px;}
.\-b-size-5-hover:hover {border-width: 5px;}
.\-b-size-6-hover:hover {border-width: 6px;}
.\-b-size-7-hover:hover {border-width: 7px;}
.\-b-size-8-hover:hover {border-width: 9px;}
.\-b-size-9-hover:hover {border-width: 9px;}
.\-b-size-10-hover:hover {border-width: 10px;}
.\-b-size-1rem-hover:hover {border-width: 1rem;}
.\-b-size-2rem-hover:hover {border-width: 2rem;}
.\-b-size-3rem-hover:hover {border-width: 3rem;}
.\-b-size-4rem-hover:hover {border-width: 4rem;}
.\-b-size-5rem-hover:hover {border-width: 5rem;}
/*------ROUNDED-HOVER------*/
.\-b-rounded-0-h:hover   {border-radius: 0;}
.\-b-rounded-sm-h:hover  {border-radius: 5;}
.\-b-rounded-h:hover    {border-radius: 10;}
.\-b-rounded-md-h:hover  {border-radius: 15;}
.\-b-rounded-lg-h:hover  {border-radius: 20;}
.\-b-rounded-100-h:hover {border-radius: 100%;}
/*------DIVIDER------*/
.divider[data-content]::after,
.divider-vert[data-content]::after {
  background: var(--liquid-color-light);
  color: var(--liquid-color-medium);
  content: attr(data-content);
  display: inline-block;
  font-size: var(--divider-after-font-size);
  padding: var(--divider-after-padding-v) var(--divider-after-padding-h);
  transform: translateY(var(--divider-after-translate-y));
}
.divider {
  border-top: var(--divider-border-top);
  height: var(--divider-height);
  margin: var(--divider-margin);
}
.divider[data-content] {
    margin: var(--divider-content-margin-v) var(--divider-content-margin-h);
}
.divider-vert {
  display: block;
  padding: var(--divider-vert-padding);
}
.divider-vert::before {
  border-left: var(--divider-vert-before-border-left);
  bottom: var(--divider-vert-before-bottom);
  content: "";
  display: block;
  left: var(--divider-vert-before-left);
  position: absolute;
  top: var(--divider-vert-before-top);
  transform: translateX(var(--divider-vert-before-translate-x));
}
.divider-vert[data-content]::after {
  left: var(--divider-vert-content-after-left);
  padding: var(--divider-vert-content-after-padding-v) var(--divider-vert-content-after-padding-h);
  position: absolute;
  top: var(--divider-vert-content-after-top);
  transform: translate(var(--divider-vert-content-after-translate-x),var(--divider-vert-content-after-translate-y));
}
