{% extends 'liquid-admin-theme/layout.html.twig' %}

{% block title %}BLOCK SHOW{% endblock %}

{% block mainContent %}

    {% if blockContainer is defined %}
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') %}
            <section class="-shad-12 col -col-12 -row">
                <button class="tooltip -tooltip-bottom -tertiary btn btn-action -xl s-circle -light -hover -shad-12 -shad-14-h" data-tooltip="edit post" type="submit">   
                    <a class="-light -hover" href="{{ path('AdminBlockEdit', { 'id': blockContainer.id }) }}">
                        <i class="fa-solid fa-pen fa-2x"></i>        
                    </a>
                </button>
            </section>
        {% endif %}
        {% set vars = data ? {data : data[0]} : {} %}
        <section class="-w-f">     
            {% include blockContainer.blockTemplate with vars %}
        </section>
    {% else %}
        <p> There is no block !!! </p>
    {% endif %}

{% endblock %}