button:focus {
  outline: none;
}
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
button {
    width: auto;
    overflow: visible;
    -webkit-appearance: button;
}

.liquid-btn {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 4rem;
    max-width: 8rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    border-radius: 0rem;
    font-size: var(--button-font-size);
    text-align: center;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    transition: all 0.25s ease;
    cursor: pointer;
}
.liquid-btn i {
    font-style: normal;
}

.liquid-btn:hover {
    border-radius: 0.25rem;
    padding: 0.375rem 0.875rem;
    margin: 0.06rem 0.75rem;
}

.liquid-btn.\-btn-round, .liquid-btn.\-btn-round-mini,
.liquid-btn.\-btn-round-big, .liquid-btn.\-btn-round-xl {
    border-radius: 100%;
}
.liquid-btn.\-btn-round {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    min-width: 5rem;
    max-width: 5.25rem;
    height: 6rem;
    width: 5rem;
}
.liquid-btn.\-btn-round-mini {
    font-size: 0.75rem;
    padding: 0.5rem 0.5rem;
    min-width: 4rem;
    max-width: 4.125rem;
    height: 4rem;
}
.liquid-btn.\-btn-round-big {
    font-size: 1.5rem;
    padding: 1.5rem 1.75rem;
    min-width: 7rem;
    max-width: 7.25rem;
    height: 7rem;
}
.liquid-btn.\-btn-round-xl {
    font-size: 2rem;
    padding: 1.75rem 2rem;
    min-width: 10rem;
    max-width: 10.125rem;
    height: 10rem;
}
.liquid-btn.\-btn-round-strong {
    border-radius: 2rem;
}
.liquid-btn.\-btn-round-medium {
    border-radius: 1rem;
}
.liquid-btn.\-btn-round-light {
    border-radius: 0.5rem;
}
.liquid-btn.\-btn-round-lighter {
    border-radius: 0.25rem;
}
.liquid-btn.\-btn-mini {
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    min-width: 2rem;
    min-height: 3rem;
    max-width: 3rem;
}
.liquid-btn.\-btn-big {
    font-size: 1.5rem;
    padding: 1rem 1.75rem;
    min-width: 7rem;
    min-height: 1.5rem;
    max-width: 10rem;
}
.liquid-btn.\-btn-xl {
    font-size: 2rem;
    padding: 1.5rem 2.25rem;
    min-height: 2rem;
    min-width: 8rem;
    max-width: 12rem;
}
.liquid-btn.\-btn-full {
    font-size: 2.5rem;
    padding: 2rem 2.5rem;
    margin: 0.25rem 0.5rem;
    max-width: 100%;
}

.liquid-btn.\-btn-round:hover {
    height: 5.25rem;
    width: 4.25rem;
    border-radius: 100%;
    padding: 1rem 1rem;
    margin: 0.06rem 1.375rem;
    border-width: 0.125rem 0.375rem 0.75rem 0.5rem;
}
.liquid-btn.\-btn-round-mini:hover {
    height: 4.75rem;
    width: 3.25rem;
    border-radius: 100%;
    padding: 0.125rem 0.45rem;
    margin: 0.06rem 1.5rem;
    border-width: 0.125rem 0.25rem 0.5rem 0.5rem;
}
.liquid-btn.\-btn-round-big:hover {
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 100%;
    padding: 1.75rem 2.125rem;
    margin: 0.06rem 1.5rem;
    border-width: 0.125rem 0.25rem 1rem 0.5rem;
}
.liquid-btn.\-btn-round-xl:hover {
    height: 10.5rem;
    width: 10.5rem;
    border-radius: 100%;
    padding: 2rem 2.25rem;
    margin: 0.06rem 1.75rem;
    border-width: 0.125rem 0.25rem 1.5rem 0.75rem;
}
.liquid-btn.\-btn-round-strong:hover {
    border-radius: 2.5rem;
}
.liquid-btn.\-btn-round-medium:hover {
    border-radius: 1.5rem;
}
.liquid-btn.\-btn-round-light:hover {
    border-radius: 0.75rem;
}
.liquid-btn.\-btn-round-lighter:hover {
    border-radius: 0.5rem;
}
.liquid-btn.\-btn-mini:hover {
    padding: 0.5rem 1.5rem;
    margin: 0.06rem 0.625rem;
}
.liquid-btn.\-btn-big:hover {
    padding: 1rem 2.5rem;
    margin: 0.06rem 0.625rem;
    border-width: 0.125rem 0.25rem 0.375rem 0.06rem;
}
.liquid-btn.\-btn-xl:hover {
    padding: 1.5rem 3rem;
    margin: 0.06rem 0.625rem;
}
.liquid-btn.\-btn-full {
    padding: 2.25rem 2.75rem;
    margin: 0.05rem 0;
}

button, .btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    position: relative;
    white-space: nowrap;
    border: none;
    color: var(--liquid-color-primary-contrast);
    line-height: var(--line-height);
    padding: var(--button-padding-v) var(--button-padding-h);
    margin: var(--button-margin-v) var(--button-margin-h);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    background: var(--liquid-color-primary);
    border-radius: var(--button-radius);
    text-decoration: var(--button-text-decoration);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    
}
.btn:link,
.btn:active,
.btn:visited,
.btn:focus {
    color: var(--liquid-color-primary-contrast);
}
.btn [class*='icon-'] {
    position: relative;
    font-size: var(--button-font-size);
    display: inline-block;
    vertical-align: top;
    font-weight: normal;
}
.btn [class*='icon-']:before {
    display: inline-block;
    vertical-align: top;
    line-height: var(--line-height);
}
.btn [class*='icon-'].right {
    left: auto;
    right: -5px;
}
.btn.icon {
    padding: var(--button-padding-v);
}
.btn.icon [class*='icon-'] {
    left: auto;
    right: auto;
    display: block;
    min-width: var(--button-font-size);
}
.btn.\-sm {
    font-size: var(--btn-sm-font-size);
    border-radius: var(--btn-sm-radius);
    padding: var(--btn-sm-padding-v) var(--btn-sm-padding-h);
}
.btn.\-sm.icon {
    padding: var(--btn-sm-padding-v);
}
.btn.\-sm [class*='icon-'] {
    font-size: var(--btn-sm-font-size);
}
.btn.\-lg {
    font-size: var(--btn-lg-font-size);
    border-radius: var(--btn-lg-radius);
    padding: var(--btn-lg-padding-v) var(--btn-lg-padding-h);
}
.btn.\-lg.icon {
    padding: var(--btn-lg-padding-v);
}
.btn.\-lg [class*='icon-'] {
    font-size: var(--btn-lg-font-size);
}
.btn:hover {
    color: var(--liquid-color-primary-contrast);
    background: var(--liquid-color-primary-shade);
    text-decoration: none;
}
.btn.\-btn-bordered {
    background: var(--liquid-color-primary-contrast);
    color: var(--liquid-text-color);
}
.btn.\-btn-bordered:link,
.btn.\-btn-bordered:active,
.btn.\-btn-bordered:visited,
.btn.\-btn-bordered:focus {
    color: var(--liquid-text-color);
}
.btn.\-btn-bordered:before {
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 0;
    border-radius: inherit;
    border: 1px solid var(--btn-border-color);
}
.btn.\-btn-bordered:hover {
    background: var(--liquid-color-light);;
}
.btn.\-gradient {
    position: relative;
    background: none;
}
.btn.\-gradient:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: -1;
    border-radius: inherit;
    background: var(--liquid-color-primary);
    background: -webkit-linear-gradient(-45deg, var(--liquid-color-primary), var(--liquid-color-secondary));
    background: linear-gradient(135deg, var(--liquid-color-primary), var(--liquid-color-secondary));
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.btn.\-gradient:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: -2;
    border-radius: inherit;
    background: var(--liquid-color-primary);
    background: -webkit-linear-gradient(-45deg, var(--liquid-color-primary), var(--liquid-color-secondary));
    background: linear-gradient(135deg, var(--liquid-color-primary), var(--liquid-color-secondary));
}
.btn.\-gradient:hover:after {
    opacity: 0;
}
.btn.\-btn-center {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.btn:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}
.btn:active {
    -webkit-transform: scale(0.99);
    -ms-transform: scale(0.99);
    transform: scale(0.99);
}
.btn:active.\-loading::after,
.btn.active.\-loading::after,
.btn.\-primary.\-loading::after,
.btn.\-secondary.\-loading::after,
.btn.\-tertiary.\-loading::after,
.btn.\-dark.\-loading::after,
.btn.\-light.\-loading::after,
.btn.\-success.\-loading::after,
.btn.\-warning.\-loading::after,
.btn.\-danger.\-loading::after {
    border-bottom-color: #fff;
    border-left-color: #fff;
}
.btn[disabled],
.btn:disabled,
.btn.disabled {
  cursor: default;
  opacity: .5;
  pointer-events: none;
}
.btn.btn-link {
    background: var(--btn-link-bg);
    border-color: var(--btn-link-border-color);
    color: var(--btn-link-color);
}
.btn.btn-link:focus,
.btn.btn-link:hover,
.btn.btn-link:active,
.btn.btn-link.active {
  color: var(--btn-link-color-action);
}
.btn.\-block {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: var(--btn-block-min-h);
}
.btn.btn-action {
    padding:  var(--btn-action-padding); 
    height: var(--button-action-w);
    width: var(--button-action-w);
}
.btn.btn-action.\-sm {
    height: var(--button-action-sm-w);
    width: var(--button-action-sm-w);
}
.btn.btn-action.\-lg {
    height: var(--button-action-lg-w);
    width: var(--button-action-lg-w);
}
.btn.btn-action.\-xl {
    height: var(--button-action-xl-w);
    width: var(--button-action-xl-w);
}
.btn.btn-clear {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 0;
    color: currentColor;
    height: 1rem;
    line-height: .8rem;
    margin-left: .2rem;
    margin-right: -2px;
    opacity: 1;
    padding: .1rem;
    text-decoration: none;
    width: 1rem;
}
.btn.btn-clear:focus,
.btn.btn-clear:hover {
    background: rgba(247, 248, 249, .5);
    opacity: .95;
}
.btn.btn-clear::before {
    content: "\2715";
}

.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.btn-group .btn {
    float: left;
    margin: var(--button-group-margin-v) var(--button-group-margin-h);
}
.btn-group .btn:hover,
.btn-group .btn:focus,
.btn-group .btn:active {
    z-index: 2;
}
.btn-group .btn:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.btn-group .btn:not(:first-child):not(:last-child):before {
    border-radius: 0;
}
.btn-group .btn:last-child:not(:first-child) {
    border-radius: 0 var(--button-radius) var(--button-radius) 0;
}
.btn-group .btn:last-child:not(:first-child):before,
.btn-group .btn:last-child:not(:first-child):after {
    border-radius: inherit;
}
.btn-group .btn:first-child:not(:last-child) {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.btn-group .btn:first-child:not(:last-child):before,
.btn-group .btn:first-child:not(:last-child):after {
    border-radius: inherit;
}
.btn-group .btn.sm:last-child:not(:first-child) {
    border-radius: 0 var(--btn-sm-radius) var(--btn-sm-radius) 0;
}
.btn-group .btn.sm:first-child:not(:last-child) {
    border-radius: var(--btn-sm-radius) 0 0 var(--btn-sm-radius);
}
.btn-group .btn.lg:last-child:not(:first-child) {
    border-radius: 0 var(--btn-lg-radius) var(--btn-lg-radius) 0;
}
.btn-group .btn.lg:first-child:not(:last-child) {
    border-radius: var(--btn-lg-radius) 0 0 var(--btn-lg-radius);
}
.btn-group .btn:first-child {
    margin-left: 0;
}
.btn-group .btn:hover,
.btn-group .btn:active {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.btn-group.btn-group-block {
    display: flex;
}

.btn-group.btn-group-block .btn {
    flex: 1 0 0;
}
/*----Liquid-Water-Btn ----*/
.liquid-water-btn {
    position: relative;
    padding: 1.25rem 3rem;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    max-width: 350px;
    width: 100%;
    overflow: hidden;
    border-radius: 2.5rem;
}
.liquid-water-btn .lwb-content {
    position: relative;
    color: #fff;
    font-size: 1.25rem;
    font-family: Arial;
    letter-spacing: .5rem;
    z-index: 1;
}
.liquid-water-btn .lwb-liquid {
    position: absolute;
    top: -4rem;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 400px;
    background: #4973ff;
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, .5);
    transition: .5s;
}
.liquid-water-btn .lwb-liquid::after,
.liquid-water-btn .lwb-liquid::before {
    content: '';
    width: 250%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 40%;
    transform: translate(-50%, -75%);
    background: #000;
}
.liquid-water-btn .lwb-liquid::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: liquify 5s linear infinite;
}
.liquid-water-btn .lwb-liquid::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: liquify 10s linear infinite;
}
.liquid-water-btn:hover {
    cursor: pointer;
}
.liquid-water-btn:hover .lwb-liquid{
    top: 12rem;
}

