.\-cursor-auto    {cursor: auto!important;}	
.\-cursor-default {cursor: default!important;}
.\-cursor-pointer {cursor: pointer!important;}
.\-cursor-wait    {cursor: wait!important;}
.\-cursor-text    {cursor: text!important;}
.\-cursor-move    {cursor: move!important;}
.\-cursor-grab    {cursor: grab!important;}
.\-cursor-help    {cursor: help!important;}
.\-cursor-cell    {cursor: cell!important;}
.\-cursor-zoom-in {cursor: zoom-in!important;}
.\-cursor-zoom-out    {cursor: zoom-out!important;}
.\-cursor-crosshair   {cursor: crosshair!important;}
.\-cursor-col-resize  {cursor: col-resize!important;}
.\-cursor-row-resize  {cursor: row-resize!important;}
.\-cursor-not-allowed {cursor: not-allowed!important;}