<form method="post" action="{{ path('editor_page_block_remove', {'pageBlockId': pageBlock.id, 'pageId': pageBlock.page.id}) }}" onsubmit="return confirm('Are you sure you want to delete this page block?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete-page-block') }}">
    <button class="btn -danger">Delete</button>
</form>
