/* SKELETON CSS*/
@import './skeleton/base.css';
@import './skeleton/liquid-grid.css';
@import './skeleton/grid.css';
@import './skeleton/fluid.css';
@import './skeleton/container.css';
@import './skeleton/heading.css';
@import './skeleton/typo.css';
@import './skeleton/z-index.css';
@import './skeleton/media.css';

/* UI COMPONENTS CSS*/
@import './ui/avatar.css';
@import './ui/cursor.css';
@import './ui/link.css';
@import './ui/toast.css';
@import './ui/breadcrumb.css';
@import './ui/button.css';
@import './ui/buttons.css';
@import './ui/dropdown.css';
@import './ui/badge.css';
@import './ui/chip.css';
@import './ui/menu.css';
@import './ui/tab.css';
@import './ui/form.css';
@import './ui/form-input.css';
@import './ui/form-checkbox.css';
@import './ui/form-radio.css';
@import './ui/form-switch.css';
@import './ui/form-date.css';
@import './ui/form-range.css';
@import './ui/form-select.css';
@import './ui/placeholders.css';
@import './ui/popovers.css';
@import './ui/progress.css';
@import './ui/tooltip.css';
@import './ui/icons.css';
@import './ui/file-icons.css';
@import './ui/pagination.css';

/* LAYOUT COMPONENTS CSS*/
@import './components/layout.css';
@import './components/collapse.css';
@import './components/page.css';
@import './components/accordion.css';
@import './components/card.css';
@import './components/dynamic-card.css';
@import './components/panel.css';
@import './components/bar.css';
@import './components/bar-top.css';
@import './components/bar-bottom.css';
@import './components/bar-side.css';
@import './components/nav.css';
@import './components/tiles.css';
@import './components/step.css';
@import './components/main-content.css';
@import './components/table.css';
@import './components/modal.css';
@import './components/list.css';
@import './components/media.css';
@import './components/img.css';
@import './components/figure.css';
@import './components/fluid-tab-bar.css';

/* EFFECTS CSS*/
@import './effects/display.css';
@import './effects/opacity.css';
@import './effects/perspective.css';
@import './effects/background.css';
@import './effects/border.css';
@import './effects/colors.css';
@import './effects/shadows.css';
@import './effects/path.css';

/* ANIMATIONS CSS*/
@import './animations/container-animation.css';
@import './animations/animate.css';
@import './animations/translate.css';
@import './animations/transition.css';

/* HELPERS CSS*/
@import './helpers/position.css';
@import './helpers/flex.css';
@import './helpers/align.css';
@import './helpers/sizing.css';
@import './helpers/margin.css';
@import './helpers/padding.css';


/* UI COMPONENTS CSS TO POSTLOAD*/
@import './ui/loading.css';

