{% extends 'liquid-theme/layout.html.twig' %}

{% block title %}
    {% if page is defined and page is not null %}{{page.name}}{% else %}Basic Page{% endif %}
{% endblock %}

{% block mainContent %}
    <section class="col -col-12"> 
        {% if page is defined and page is not null %}
        <h2>{{page.name}}</h2>
            {% if page.blocks is defined and page.blocks is not null %}
                <section class="-w-f"> 
                    {% for pageBlock in page.blocks %}  
                        {% set vars = pageBlock.data ? {data : pageBlock.data} : {} %}    
                        {% include pageBlock.blockTemplate with vars %}
                    {% endfor %}
                </section>
            {% endif %}
        {% else %}
            <p> There is no Page !!! </p>
        {% endif %}
    </section>
{% endblock %}