{% extends 'liquid-theme/layout.html.twig' %}

{% block title %}
    {% if page is defined and page is not null %}{{page.name}}{% else %}Basic Page{% endif %}
{% endblock %}

{% block mainContent %}
    <section class="col -col-12"> 
        {% if page is defined and page is not null %}
            {% if page.blocks is defined and page.blocks is not empty %}
                <section class="-w-f"> 
                    {% for pageBlock in page.blocks|sort((a, b) => a.position <=> b.position) %}  
                        {% if pageBlock.content is defined and pageBlock.content is not null %}
                            {{pageBlock.content|raw}}
                        {% endif %}
                        
                        {% if pageBlock.block is defined and pageBlock.block is not null %}
                            {% set data = pageBlock.block.data ? {data : pageBlock.block.data} : {} %}    
                            {% include pageBlock.block.blockTemplate with data %}
                        {% endif %}
                    {% endfor %}
                </section>
            {% endif %}
        {% else %}
            <p> There is no Page !!! </p>
        {% endif %}
    </section>
{% endblock %}