.\-content-space-around  { align-content: space-around; }
.\-content-space-between  { align-content: space-between;}
.\-content-center  { align-content: center; }
.\-content-start  { align-content: flex-start; }
.\-content-end  { align-content: flex-start; }
.\-content-stretch  { align-content: stretch; }
.\-content-unset  { align-content: unset; }
.\-content-inherit  { align-content: inherit; }

.\-self-baseline  { align-self: baseline; }
.\-self-center  { align-self: center; }
.\-self-start  { align-self: flex-start; }
.\-self-end  { align-self: flex-end; }
.\-self-stretch  { align-self: stretch; }
.\-self-unset  { align-self: unset; }
.\-self-inherit  { align-self: inherit; }

.\-items-baseline  { align-items: baseline!important; }
.\-items-center  { align-items: center!important; }
.\--items-start  { align-items: flex-start!important; }
.\-items-end  { align-items: flex-start!important; }
.\-items-stretch  { align-items: stretch!important; }
.\-items-unset  { align-items: unset!important; }
.\-items-inherit  { align-items: inherit!important; }

.\-justify-center  { justify-content: center!important; }
.\-justify-left  { justify-content: left!important; }
.\-justify-right  { justify-content: right!important; }
.\-justify-space-around  { justify-content: space-around!important; }
.\-justify-space-between  { justify-content: space-between!important; }
.\-justify-start  { justify-content: start!important; }
.\-justify-end  { justify-content: start!important; }
.\-justify-stretch  { justify-content: stretch!important; }
.\-justify-unset  { justify-content: unset!important; }
.\-justify-inherit  { justify-content: inherit!important; }
.\-justify-safe  { justify-content: safe!important; }
.\-justify-space-evenly  { justify-content: space-evenly!important; }

.\-justify-self-center  { justify-self: center; }
.\-justify-self-left  { justify-self: left; }
.\-justify-self-right  { justify-self: right; }
.\-justify-self-space-around  { justify-self: space-around; }
.\-justify-self-space-between  { justify-self: space-between; }
.\-justify-self-start  { justify-self: flex-start; }
.\-justify-self-end  { justify-self: flex-start; }
.\-justify-self-stretch  { justify-self: stretch; }
.\-justify-self-unset  { justify-self: unset; }
.\-justify-self-inherit  { justify-self: inherit; }

.\-justify-items-center  { justify-items: center; }
.\-justify-items-left  { justify-items: left; }
.\-justify-items-right  { justify-items: right; }
.\-justify-items-space-around  { justify-items: space-around; }
.\-justify-items-space-between  { justify-items: space-between; }
.\-justify-items-start  { justify-items: flex-start; }
.\-justify-items-end  { justify-items: flex-start; }
.\-justify-items-stretch  { justify-items: stretch; }
.\-justify-items-unset  { justify-items: unset; }
.\-justify-items-inherit  { justify-items: inherit; }

.\-text-center  {text-align: center;}
.\-text-left    {text-align: left;}
.\-text-right   {text-align: right;}
.\-text-end    {text-align: end;}
.\-text-start   {text-align: start;}
.\-text-justify   {text-align: justify;}
.\-text-align-last-r   {text-align-last: right;}
.\-text-align-last-l   {text-align-last: left;}
.\-text-align-last-c   {text-align-last: center;}

.\-v-baseline  {vertical-align: baseline;}
.\-v-top       {vertical-align: top;}
.\-v-middle    {vertical-align: middle;}
.\-v-bottom    {vertical-align: bottom;}
.\-v-baseline  {vertical-align: baseline;}
.\-v-baseline  {vertical-align: baseline;}
.\-v-t-top     {vertical-align: text-top;}
.\-v-t-bottom  {vertical-align: text-bottom;}