.\-m-auto { margin: auto; }
.\-m0  { margin: 0; }
.\-m1  { margin: 0.25rem; }
.\-m2  { margin: 0.50rem; }
.\-m3  { margin: 0.75rem; }
.\-m4  { margin: 1rem; }
.\-m5  { margin: 1.25rem; }
.\-m6  { margin: 1.5rem; }
.\-m7  { margin: 1.75; }
.\-m8  { margin: 2rem; }
.\-m9  { margin: 2.25rem; }
.\-m10 { margin: 2.5rem; }

.\-mt1  { margin-top: 0; }
.\-mt1  { margin-top: 0.25rem; }
.\-mt2  { margin-top: 0.50rem; }
.\-mt3  { margin-top: 0.75rem; }
.\-mt4  { margin-top: 1rem; }
.\-mt5  { margin-top: 1.25rem; }
.\-mt6  { margin-top: 1.5rem; }
.\-mt7  { margin-top: 1.75; }
.\-mt8  { margin-top: 2rem; }
.\-mt9  { margin-top: 2.25rem; }
.\-mt10 { margin-top: 2.5rem; }

.\-mb0  { margin-bottom: 0; }
.\-mb1  { margin-bottom: 0.25rem; }
.\-mb2  { margin-bottom: 0.50rem; }
.\-mb3  { margin-bottom: 0.75rem; }
.\-mb4  { margin-bottom: 1rem; }
.\-mb5  { margin-bottom: 1.25rem; }
.\-mb6  { margin-bottom: 1.5rem; }
.\-mb7  { margin-bottom: 1.75; }
.\-mb8  { margin-bottom: 2rem; }
.\-mb9  { margin-bottom: 2.25rem; }
.\-mb10 { margin-bottom: 2.5rem; }

.\-ml0  { margin-left: 0; }
.\-ml1  { margin-left: 0.25rem; }
.\-ml2  { margin-left: 0.50rem; }
.\-ml3  { margin-left: 0.75rem; }
.\-ml4  { margin-left: 1rem; }
.\-ml5  { margin-left: 1.25rem; }
.\-ml6  { margin-left: 1.5rem; }
.\-ml7  { margin-left: 1.75; }
.\-ml8  { margin-left: 2rem; }
.\-ml9  { margin-left: 2.25rem; }
.\-ml10 { margin-left: 2.5rem; }

.\-mr0  { margin-right: 0; }
.\-mr1  { margin-right: 0.25rem; }
.\-mr2  { margin-right: 0.50rem; }
.\-mr3  { margin-right: 0.75rem; }
.\-mr4  { margin-right: 1rem; }
.\-mr5  { margin-right: 1.25rem; }
.\-mr6  { margin-right: 1.5rem; }
.\-mr7  { margin-right: 1.75; }
.\-m8  { margin-right: 2rem; }
.\-mr9  { margin-right: 2.25rem; }
.\-mr10 { margin-right: 2.5rem; }

.liquid-margin.\-m1  { margin: 10%; }
.liquid-margin.\-m2  { margin: 20%; }
.liquid-margin.\-m3  { margin: 30%; }
.liquid-margin.\-m4  { margin: 40%; }
.liquid-margin.\-m5  { margin: 50%; }
.liquid-margin.\-m6  { margin: 60%; }
.liquid-margin.\-m7  { margin: 70%; }
.liquid-margin.\-m8  { margin: 80%; }
.liquid-margin.\-m9  { margin: 90%; }
.liquid-margin.\-m10 { margin: 100%; }

.liquid-margin.\-mt1  { margin-top: 10%; }
.liquid-margin.\-mt2  { margin-top: 20%; }
.liquid-margin.\-mt3  { margin-top: 30%; }
.liquid-margin.\-mt4  { margin-top: 40%; }
.liquid-margin.\-mt5  { margin-top: 50%; }
.liquid-margin.\-mt6  { margin-top: 60%; }
.liquid-margin.\-mt7  { margin-top: 70%; }
.liquid-margin.\-mt8  { margin-top: 80%; }
.liquid-margin.\-mt9  { margin-top: 90%; }
.liquid-margin.\-mt10 { margin-top: 100%; }

.liquid-margin.\-mb1  { margin-bottom: 10%; }
.liquid-margin.\-mb2  { margin-bottom: 20%; }
.liquid-margin.\-mb3  { margin-bottom: 30%; }
.liquid-margin.\-mb4  { margin-bottom: 40%; }
.liquid-margin.\-mb5  { margin-bottom: 50%; }
.liquid-margin.\-mb6  { margin-bottom: 60%; }
.liquid-margin.\-mb7  { margin-bottom: 70%; }
.liquid-margin.\-mb8  { margin-bottom: 80%; }
.liquid-margin.\-mb9  { margin-bottom: 90%; }
.liquid-margin.\-mb10 { margin-bottom: 100%; }

.liquid-margin.\-ml1  { margin-left: 10%; }
.liquid-margin.\-ml2  { margin-left: 20%; }
.liquid-margin.\-ml3  { margin-left: 30%; }
.liquid-margin.\-ml4  { margin-left: 40%; }
.liquid-margin.\-ml5  { margin-left: 50%; }
.liquid-margin.\-ml6  { margin-left: 60%; }
.liquid-margin.\-ml7  { margin-left: 70%; }
.liquid-margin.\-ml8  { margin-left: 80%; }
.liquid-margin.\-ml9  { margin-left: 90%; }
.liquid-margin.\-ml10 { margin-left: 100%; }

.liquid-margin.\-mr1  { margin-right: 10%; }
.liquid-margin.\-mr2  { margin-right: 20%; }
.liquid-margin.\-mr3  { margin-right: 30%; }
.liquid-margin.\-mr4  { margin-right: 40%; }
.liquid-margin.\-mr5  { margin-right: 50%; }
.liquid-margin.\-mr6  { margin-right: 60%; }
.liquid-margin.\-mr7  { margin-right: 70%; }
.liquid-margin.\-mr8  { margin-right: 80%; }
.liquid-margin.\-mr9  { margin-right: 90%; }
.liquid-margin.\-mr10 { margin-right: 100%; }