.\-area-min {min-height: 0; min-width: 0!important;}
.\-area-max {max-height: 100%; max-width: 100%!important;}

.\-w-0 { width: 0!important;}
.\-w-f { width: 100%!important;}
.\-w-em { width: 1e!important;}
.\-w-rm { width: 1rem!important;}
.\-w-vp { width: 100vw!important;}
.\-w-a { width: auto!important;}

.\-h-0 { height: 0!important;}
.\-h-f { height: 100%!important;}
.\-h-em { height: 1em!important;}
.\-h-rm { height: 1rem!important;}
.\-h-vp { height: 100vh!important;}
.\-h-a { height: auto!important;}

.\-max-n { max-width: none; max-height: none!important;}
.\-max-0 { max-width: 0; max-height: 0!important;}
.\-min-0 { min-width: 0; min-height: 0!important;}
.\-min-a { min-width: auto; min-height: auto!important;}
.\-max-vp { max-width: 100vw; max-height: 100vh!important;}
.\-min-vp { min-width: 100vw; min-height: 100vh!important;}
.\-max-h-vp { max-height: 100vh!important;}
.\-min-h-vp { min-height: 100vh!important;}
.\-max-w-vp { max-width: 100vw!important;}
.\-min-w-vp { min-width: 100vw!important;}


.\-h-vp98 { height: 98vh!important;}
.\-max-h-vp98 { max-height: 98vh!important;}
.\-min-h-vp98 { min-height: 98vh!important;}
.\-w-vp98 { width: 98vh!important;}
.\-max-w-vp98 { max-width: 98vw!important;}
.\-min-w-vp98 { min-width: 98vw!important;}

.\-w-free { max-width: none!important;}
.\-w-fit { max-width: 100%!important;}
.\-w-clip { max-width: 0!important;}
.\-w-force { min-width: 100%!important;}

.\-h-free { max-height: none!important;}
.\-h-fit { max-height: 100%!important;}
.\-h-clip { max-height: 0!important;}
.\-h-force { min-height: 100%!important;}