{#
// Variables
- color : classes de modification de la classe principale
- path : lien
- text : Texte de l'élément
#}
<div class="dropdown  -mr5">
    <label for="dropdown--touch">
        <span>
            <figure class="avatar avatar-lg -secondary -cursor-pointer" data-initial="{{app.user.username|slice(0, 1)|capitalize}}"></figure>
        </span>
    </label>
    <input class="dropdown--touch" type="checkbox" id="dropdown--touch">
    <div class="dropdown-content -pos-left">
        <ul>
            <li class="-light -hover">
                <i class="fa-regular fa-user"></i>
                <a href="#">
                    Profil
                </a>
            </li>
            <li class="-light -hover">
                <i class="fa-solid fa-user-gear"></i>
                <a href="#">
                    Account
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') or is_granted('ROLE_MODERATOR') %}
                <li class="-light -hover">
                    <i class="fa-solid fa-lock"></i>
                    <a href="{{path('admin_dashboard_redirect')}}">
                        Admin
                    </a>
                </li>
            {% endif %}
            <li class="-light -hover">
                <i class="fa-solid fa-door-open"></i>
                <a href="{{path('app_logout')}}">
                    Logout
                </a>
            </li>
        </ul>
    </div>
</div>