{% extends 'liquid-theme/layout-admin.html.twig' %}

{% block title %}POSTS LIST{% endblock %}

{% block mainContent %}
<section class="col -col-11" id="post-list">
    <div class="-text-center">
        <div class="h5 mt-10">ADMIN DASHBOARD</div>
    </div>
</section>

<section class="col -col-4 -md6 -sm12 -xs12" id="post-manager">
    <div class="tile -tile-compact -w-f -m0 -shad-12">
        <div class="-tile-content">
            <div class="-tile-title -t-bld">
                User Manager
            </div>
            <div class="-tile-subtitle">
                You have xx user.
                <a class="-t-u btn -sm -light -hover" href="{{path('app_login')}}"> See User List</a>
            </div>
        </div>
        <div class="-tile-action">
            <button class="btn -success btn-link btn-block -btn-lg tooltip tooltip-left" data-tooltip="Create User"> 
                <a class="-success" href="{{ path('admin_app_user_create') }}">
                    <i class="fa-solid fa-plus"></i> 
                </a>
            </button>
        </div>
    </div>
</section>
<section class="col -col-4 -md6 -sm12 -xs12" id="post-manager">
    <div class="tile -tile-compact -w-f -m0 -shad-12">
        <div class="-tile-content">
            <div class="-tile-title -t-bld">
                Post Manager
            </div>
            <div class="-tile-subtitle">
                You have xx posts.
                <a class="-t-u btn -sm -light -hover" href="{{path('AdminPostsList')}}"> See List</a>
            </div>
        </div>
        <div class="-tile-action">
            <button class="btn -tertiary btn-link btn-block -btn-lg tooltip tooltip-left" data-tooltip="Create Post"> 
                <a class="-tertiary" href="{{ path('AdminPostCreate') }}">
                    <i class="fa-solid fa-plus"></i> 
                </a>
            </button>
        </div>
    </div>
</section>
{% endblock %}