.\-box-border {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.\-box-content	{
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.\-p-auto { padding: auto; }
.\-p0  { padding: 0; }
.\-p1  { padding: 0.25rem; }
.\-p2  { padding: 0.50rem; }
.\-p3  { padding: 0.75rem; }
.\-p4  { padding: 1rem; }
.\-p5  { padding: 1.25rem; }
.\-p6  { padding: 1.5rem; }
.\-p7  { padding: 1.75; }
.\-p8  { padding: 2rem; }
.\-p9  { padding: 2.25rem; }
.\-p10 { padding: 2.5rem; }
.\-p10 { padding: 2.5rem; }

.\-pt0  { padding-top: 0; }
.\-pt1  { padding-top: 0.25rem; }
.\-pt2  { padding-top: 0.50rem; }
.\-pt3  { padding-top: 0.75rem; }
.\-pt4  { padding-top: 1rem; }
.\-pt5  { padding-top: 1.25rem; }
.\-pt6  { padding-top: 1.5rem; }
.\-pt7  { padding-top: 1.75; }
.\-pt8  { padding-top: 2rem; }
.\-pt9  { padding-top: 2.25rem; }
.\-pt10 { padding-top: 2.5rem; }

.\-pb0  { padding-bottom: 0; }
.\-pb1  { padding-bottom: 0.25rem; }
.\-pb2  { padding-bottom: 0.50rem; }
.\-pb3  { padding-bottom: 0.75rem; }
.\-pb4  { padding-bottom: 1rem; }
.\-pb5  { padding-bottom: 1.25rem; }
.\-pb6  { padding-bottom: 1.5rem; }
.\-pb7  { padding-bottom: 1.75; }
.\-pb8  { padding-bottom: 2rem; }
.\-pb9  { padding-bottom: 2.25rem; }
.\-pb10 { padding-bottom: 2.5rem; }

.\-pl0  { padding-left: 0; }
.\-pl1  { padding-left: 0.25rem; }
.\-pl2  { padding-left: 0.50rem; }
.\-pl3  { padding-left: 0.75rem; }
.\-pl4  { padding-left: 1rem; }
.\-pl5  { padding-left: 1.25rem; }
.\-pl6  { padding-left: 1.5rem; }
.\-pl7  { padding-left: 1.75; }
.\-pl8  { padding-left: 2rem; }
.\-pl9  { padding-left: 2.25rem; }
.\-pl10 { padding-left: 2.5rem; }

.\-pr0  { padding-right: 0; }
.\-pr1  { padding-right: 0.25rem; }
.\-pr2  { padding-right: 0.50rem; }
.\-pr3  { padding-right: 0.75rem; }
.\-pr4  { padding-right: 1rem; }
.\-pr5  { padding-right: 1.25rem; }
.\-pr6  { padding-right: 1.5rem; }
.\-pr7  { padding-right: 1.75; }
.\-p8  { padding-right: 2rem; }
.\-pr9  { padding-right: 2.25rem; }
.\-pr10 { padding-right: 2.5rem; }

.liquid-padding.\-p1  { padding: 10%; }
.liquid-padding.\-p2  { padding: 20%; }
.liquid-padding.\-p3  { padding: 30%; }
.liquid-padding.\-p4  { padding: 40%; }
.liquid-padding.\-p5  { padding: 50%; }
.liquid-padding.\-p6  { padding: 60%; }
.liquid-padding.\-p7  { padding: 70%; }
.liquid-padding.\-p8  { padding: 80%; }
.liquid-padding.\-p9  { padding: 90%; }
.liquid-padding.\-p10 { padding: 100%; }

.liquid-padding.\-pt1  { padding-top: 10%; }
.liquid-padding.\-pt2  { padding-top: 20%; }
.liquid-padding.\-pt3  { padding-top: 30%; }
.liquid-padding.\-pt4  { padding-top: 40%; }
.liquid-padding.\-pt5  { padding-top: 50%; }
.liquid-padding.\-pt6  { padding-top: 60%; }
.liquid-padding.\-pt7  { padding-top: 70%; }
.liquid-padding.\-pt8  { padding-top: 80%; }
.liquid-padding.\-pt9  { padding-top: 90%; }
.liquid-padding.\-pt10 { padding-top: 100%; }

.liquid-padding.\-pb1  { padding-bottom: 10%; }
.liquid-padding.\-pb2  { padding-bottom: 20%; }
.liquid-padding.\-pb3  { padding-bottom: 30%; }
.liquid-padding.\-pb4  { padding-bottom: 40%; }
.liquid-padding.\-pb5  { padding-bottom: 50%; }
.liquid-padding.\-pb6  { padding-bottom: 60%; }
.liquid-padding.\-pb7  { padding-bottom: 70%; }
.liquid-padding.\-pb8  { padding-bottom: 80%; }
.liquid-padding.\-pb9  { padding-bottom: 90%; }
.liquid-padding.\-pb10 { padding-bottom: 100%; }

.liquid-padding.\-pl1  { padding-left: 10%; }
.liquid-padding.\-pl2  { padding-left: 20%; }
.liquid-padding.\-pl3  { padding-left: 30%; }
.liquid-padding.\-pl4  { padding-left: 40%; }
.liquid-padding.\-pl5  { padding-left: 50%; }
.liquid-padding.\-pl6  { padding-left: 60%; }
.liquid-padding.\-pl7  { padding-left: 70%; }
.liquid-padding.\-pl8  { padding-left: 80%; }
.liquid-padding.\-pl9  { padding-left: 90%; }
.liquid-padding.\-pl10 { padding-left: 100%; }

.liquid-padding.\-pr1  { padding-right: 10%; }
.liquid-padding.\-pr2  { padding-right: 20%; }
.liquid-padding.\-pr3  { padding-right: 30%; }
.liquid-padding.\-pr4  { padding-right: 40%; }
.liquid-padding.\-pr5  { padding-right: 50%; }
.liquid-padding.\-pr6  { padding-right: 60%; }
.liquid-padding.\-pr7  { padding-right: 70%; }
.liquid-padding.\-pr8  { padding-right: 80%; }
.liquid-padding.\-pr9  { padding-right: 90%; }
.liquid-padding.\-pr10 { padding-right: 100%; }