<form method="post" action="{{ path('editor_form_delete', {'id': formModel.id}) }}" onsubmit="return confirm('Are you sure you want to delete this form?');">
    <input type="hidden" name="token" value="{{ csrf_token('delete-form') }}">
    <button class="btn -danger">Delete</button>
</form>
