{% extends 'liquid-theme/layout.html.twig' %}

{% block title %}{{'core.profile.about_account'|trans}}{% endblock %}

{% block mainContent %}
    <a class="btn -block" href="{{ path('member_my_account') }}">{{'core.menu.my_account'|trans}}</a>    
    {{ include('liquid-theme/pages/security/user/member/_email_form.html.twig') }}
{% endblock %}