<section class="-w-f -text-center">
    <h2 class="h4">{{'core.cmd.execute_process'|trans}}<h2>
    <hr>
</section>
<section class="-w-f -text-center">
    <progress class="progress" max="100"></progress>
    <p class="-t-bd">{{'core.cmd.execute_process_info'|trans}}<p>
    <hr>
    <button class="btn -block -primary -loading -loading-lg"> </button>   
</section>