<form method="post" action="{{ path('editor_page_delete', {'id': page.id}) }}" onsubmit="return confirm('Are you sure you want to delete this page?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete-page') }}">
    <button class="btn -danger">Delete</button>
</form>
