{#
// Variables
- class : custom classes
- color : classes de modification de la classe principale
- sectionStart : link in star session
- text : Texte de l'élément,
- navItemsStart: Nav Items to include in start part,
- navItemsCenters: Nav Items to include in center part,
- navItemsEnd: Nav Items to include in end part
#}

<nav 
    class="bar {% if color is defined %}-{{ color }}{% endif %} {% if class is defined %}{{ class }}{% else %} -bg-light -shad-12{% endif %}"
>
    <section class="-bar-section-start">
        {% block nav_section_start %}
            {% if navItemsStart is defined %}
                {% for item in navItemsStart %}
                    {% include 'liquid-theme/components/layout/nav/nav-item.html.twig' with {
                        'class': item['class'],
                        'color': item['color'],
                        'path': item['path'],
                        'text': item['text']
                    } %}
                {% endfor %}
            {% endif %}
        {% endblock %}
    </section>
    <section class="-bar-center">
        {% block nav_section_center %}
            {% if navItemsCenter is defined %}
                {% for item in navItemsCenter %}
                    {% include 'liquid-theme/components/layout/nav/nav-item.html.twig' with {
                        'class': item['class'],
                        'color': item['color'],
                        'path': item['path'],
                        'text': item['text']
                    } %}
                {% endfor %}
            {% endif %}
        {% endblock %}
    </section>
    <section class="-bar-section-end">
        {% block nav_section_end %}
            {% if navItemsEnd is defined %}
                {% for item in navItemsEnd %}
                    {% include 'liquid-theme/components/layout/nav/nav-item.html.twig' with {
                        'class': item['class'],
                        'color': item['color'],
                        'path': item['path'],
                        'text': item['text']
                    } %}
                {% endfor %}
            {% endif %}
            {% include 'liquid-theme/components/layout/nav/nav-user.html.twig'%}
        {% endblock %} 
    </section>
</nav>