h1, .h1 {
    font-family: var(--headings-h1-font-family);
    line-height: var(--headings-h1-line-height);
    color: var(--headings-h1-color);
    font-weight: var(--headings-h1-weight);
    font-size: var(--headings-h1-size);
    margin: var(--headings-h1-margin-t) 0 var(--headings-h1-margin-b) 0;
}
h2, .h2 {
    font-family: var(--headings-h2-font-family);
    line-height: var(--headings-h2-line-height);
    color: var(--headings-h2-color);
    font-weight: var(--headings-h2-weight);
    font-size: var(--headings-h2-size);
    margin: var(--headings-h2-margin-t) 0 var(--headings-h2-margin-b) 0;
}
h3, .h3 {
    font-family: var(--headings-h3-font-family);
    line-height: var(--headings-h3-line-height);
    color: var(--headings-h3-color);
    font-weight: var(--headings-h3-weight);
    font-size: var(--headings-h3-size);
    margin: var(--headings-h3-margin-t) 0 var(--headings-h3-margin-b) 0;
}
h4, .h4 {
    font-family: var(--headings-h4-font-family);
    line-height: var(--headings-h4-line-height);
    color: var(--headings-h4-color);
    font-weight: var(--headings-h4-weight);
    font-size: var(--headings-h4-size);
    margin: var(--headings-h4-margin-t) 0 var(--headings-h4-margin-b) 0;
}
h5, .h5 {
    font-family: var(--headings-h5-font-family);
    line-height: var(--headings-h5-line-height);
    color: var(--headings-h5-color);
    font-weight: var(--headings-h5-weight);
    font-size: var(--headings-h5-size);
    margin: var(--headings-h5-margin-t) 0 var(--headings-h5-margin-b) 0;
}
h6, .h6 {
    font-family: var(--headings-h6-font-family);
    line-height: var(--headings-h6-line-height);
    color: var(--headings-h6-color);
    font-weight: var(--headings-h6-weight);
    font-size: var(--headings-h6-size);
    margin: var(--headings-h6-margin-t) 0 var(--headings-h6-margin-b) 0;
}