abbr[title] {
    border-bottom: .05rem dotted;
    cursor: help;
    text-decoration: none;
}
kbd {
    background: var(--liquid-color-dark);
    color: var(--liquid-color-dark-contrast);
    font-size: .7rem; 
    line-height: 1.25;
    padding: .1rem .2rem;
    border-radius: .1rem;
}
mark {
    background: var(--mark-bg);
    color: var(--mark-color);
    border-bottom: .1rem solid var(--mark-bg);
    border-radius: var(--mark-radius);
    padding: var(--mark-padding);
}
.\-t-tiny {
    font-size: var(--text-tiny-font-size);
}
.\-t-muted {
    opacity: var(--text-muted-opacity);
}
.\-t-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.\-t-clip {
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}
.\-t-break {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
}
.\-t-u {
    text-transform: uppercase;
}
.\-t-l {
    text-transform: lowercase;
}
.\-t-c {
    text-transform: capitalize;
}
.\-t-o {
    font-style: oblique;
}
.\-t-i {
    font-style: italic;
}
.\-t-n {
    font-style: normal;
}
.\-t-lght {
    font-weight: 200!important;
}
.\-t-lghtr {
    font-weight: lighter!important;
}
.\-t-nrm {
    font-weight: 400!important;
}
.\-t-bld {
    font-weight: bold!important;
}
.\-t-bldr {
    font-weight: bolder!important;
}
.\-t-800 {
    font-weight: 800!important;
}
.\-t-dec-n {
    text-decoration: none!important;
}
.\-t-dec-u {
    text-decoration: underline!important;
}
.\-t-dec-o {
    text-decoration: overline!important;
}
.\-t-dec-lt {
    text-decoration: line-through!important;
}
.\-t-dec-b {
    text-decoration: blink!important;
}
.\-t-1rm {
    font-size: 1rem!important;
}
.\-t-2rm {
    font-size: 2rem!important;
}
.\-t-3rm {
    font-size: 3rem!important;
}
.\-t-4rm {
    font-size: 4rem!important;
}
.\-t-5rm {
    font-size: 5rem!important;
}
.\-t-indent-05 {
    text-indent: 0.5rem;
}
.\-t-indent-1 {
    text-indent: 1rem;
}
.\-t-indent-15 {
    text-indent: 1.5rem;
}
.\-t-indent-2 {
    text-indent: 2rem;
}
.\-t-indent-25 {
    text-indent: 2.5rem;
}
.\-t-indent-3 {
    text-indent: 3rem;
}
.\-l-sp-n {
    letter-spacing: normal;
}
.\-l-sp-1p {
    letter-spacing: 1px;
}
.\-l-sp-25rm {
    letter-spacing: 0.25rem;
}
.\-l-sp-50rm {
    letter-spacing: 0.5rem;
}
.\-l-sp-75rm {
    letter-spacing: 0.75rem;
}
.\-l-sp-100rm {
    letter-spacing: 1rem;
}
.\-l-sp-125rm {
    letter-spacing: 1.25rem;
}
.\-l-sp-150rm {
    letter-spacing: 1.5rem;
}
.\-l-sp-175rm {
    letter-spacing: 1.75rem;
}
.\-l-sp-200 {
    letter-spacing: 2rem;
}
.\-line-h-n {
    line-height: normal;
}
.\-line-h-1 {
    line-height: 1;
}
.\-line-h-1-25 {
    line-height: 1.25;
}
.\-line-h-1-5 {
    line-height: 1.5;
}
.\-line-h-1-75 {
    line-height: 1.75;
}
.\-line-h-2 {
    line-height: 2;
}
.\-line-h-2-25 {
    line-height: 2.25;
}
.\-line-h-2-5 {
    line-height: 2.5;
}
.\-line-h-2-75 {
    line-height: 2.75;
}
.\-line-h-3 {
    line-height: 3;
}
.\-line-h-3-25 {
    line-height: 3.25;
}
.\-line-h-3-5 {
    line-height: 3.5;
}
.\-line-h-3-75 {
    line-height: 3.75;
}
.\-line-h-4 {
    line-height: 4;
}
.\-line-h-4-25 {
    line-height: 1.25;
}
.\-line-h-4-5 {
    line-height: 4.5;
}
.\-line-h-4-75 {
    line-height: 4.75;
}
.\-line-h-5 {
    line-height: 5;
}
.\-line-b-a {
    line-break: auto;
}
.\-line-b-l {
    line-break: loose;
}
.\-line-b-n {
    line-break: normal;
}
.\-line-b-s {
    line-break: strict;
}
.\-over-wrap-b-w {
    overflow-wrap: break-word;
}
.\-over-wrap-n {
    overflow-wrap: normal;
}
.\-w-break-all {
    word-break: break-all;
}
.\-w-keep-all {
    word-break: keep-all;
}
.\-w-norm {
    word-break: normal;
}
.\-hyp-m {
    hyphens: manual;
}
.\-hyp-n {
    hyphens: none;
}
.\-hyp-a {
    hyphens: auto;
}
.\-hyp-r {
    hyphens: revert;
}
.\-hyp-r {
    hyphens: revert;
}
.\-wh-sp-nw {
    white-space: nowrap;
}
.\-wh-sp-pre {
    white-space: pre;
}
.\-wh-sp-pre-w {
    white-space: pre-wrap;
}
.\-wh-sp-pre-l {
    white-space: pre-line;
}
.\-wh-sp-br-sp {
    white-space: break-spaces;
}
.text-primary {
    color: var(--liquid-color-primary) !important;
}
a.text-primary:focus,
a.text-primary:hover {
    color: var(--liquid-color-primary-shade);
}
a.text-primary:visited {
    color: var(--liquid-color-primary-shade);
}
.text-secondary {
    color: var(--liquid-color-secondary) !important;
}
a.text-secondary:focus,
a.text-secondary:hover {
    color: var(--liquid-color-secondary-shade);
}
a.text-secondary:visited {
    color: var(--liquid-color-secondary-shade);
}
.text-tertiary {
    color: var(--liquid-color-tertiary) !important;
}
a.text-tertiary:focus,
a.text-tertiary:hover {
    color: var(--liquid-color-tertiary-shade);
}
a.text-tertiary:visited {
    color: var(--liquid-color-tertiary-shade);
}
.text-gray {
    color: var(--liquid-color-medium) !important;
}
a.text-gray:focus,
a.text-gray:hover {
    color: var(--liquid-color-medium-shade);
}
a.text-gray:visited {
    color: var(--liquid-color-medium-shade);
}
.text-light {
    color: var(--liquid-color-light) !important;
}
a.text-light:focus,
a.text-light:hover {
    color: var(--liquid-color-light-shade);
}
a.text-light:visited {
    color: var(--liquid-color-light-shade);
}
.text-dark {
    color: var(--liquid-color-dark) !important;
}
a.text-dark:focus,
a.text-dark:hover {
    color: var(--liquid-color-dark-shade);
}
a.text-dark:visited {
    color: var(--liquid-color-dark-shade);
}
.text-success {
    color: var(--liquid-color-success) !important;
}
a.text-success:focus,
a.text-success:hover {
    color: var(--liquid-color-success-shade);
}
a.text-success:visited {
    color: var(--liquid-color-success-shade);
}
.text-warning {
    color: var(--liquid-color-warning) !important;
}
a.text-warning:focus,
a.text-warning:hover {
    color: var(--liquid-color-warning-shade);
}
a.text-warning:visited {
    color: var(--liquid-color-warning-shade);
}
.text-error {
    color: var(--liquid-color-danger) !important;
}
a.text-error:focus,
a.text-error:hover {
    color: var(--liquid-color-danger-shade);
}
a.text-error:visited {
    color: var(--liquid-color-danger-shade);
}
.divider,
.divider-vert {
  display: block;
  position: relative;
}