{% extends 'liquid-theme/layout.html.twig' %}

{% block title %}HOMEPAGE{% endblock %}

{% block mainContent %}
        <section class="col -col-12 -middle">
                <p> HOMEPAGE !!! </p>
        </section>
{% endblock %}