{% extends 'liquid-theme/layout.html.twig' %}

{% block title %}{{ 'menu.homepage'|trans }}{% endblock %}

{% block mainContent %}
        <section class="col -col-12 -middle">
                <p> {{ 'menu.homepage'|trans }} !!! </p>
        </section>
{% endblock %}