{% extends 'liquid-theme/layout.html.twig' %}

{% block title %}{{ 'menu.homepage'|trans }}{% endblock %}

{% block mainContent %}

    
        <p> {{ 'menu.homepage'|trans }} !!! </p>

{% endblock %}