{% extends 'liquid-admin-theme/layout-admin.html.twig' %}

{% block title %}{{'installer'|trans}}{% endblock %}
{% block header %}{% endblock %}
{% block leftSide %}{% endblock %}

{% block mainContent %}
<section class="col -col-4 -md8 -sm12 -xs12" id="installer-first-step">
    <div class="panel -bg-white -b-rounded-md -shad-8 -w-f">
        <section class="-panel-header -text-center">
            
        </section>
        <section class="-panel-body">

        </section>
        <section class="-panel-footer -text-center ">
            
        </section>
    </div>
</section>

<hr>

{% endblock %}